In [1]:
import pandas as pd
import numpy as np

In [8]:
data_directory = "../../data_project-it/Data";
carbon_data = "/annual-co2-emissions-per-country.csv";
earning_data = "/filtered_earnings.csv";

In [12]:
carbon_df = pd.read_csv(data_directory + carbon_data);
earning_df = pd.read_csv(data_directory + earning_data);

In [13]:
carbon_df

            Entity Code  Year  Annual CO₂ emissions
0      Afghanistan  AFG  1949               14656.0
1      Afghanistan  AFG  1950               84272.0
2      Afghanistan  AFG  1951               91600.0
3      Afghanistan  AFG  1952               91600.0
4      Afghanistan  AFG  1953              106256.0
...            ...  ...   ...                   ...
31344     Zimbabwe  ZWE  2017             9596071.0
31345     Zimbabwe  ZWE  2018            11795478.0
31346     Zimbabwe  ZWE  2019            11114607.0
31347     Zimbabwe  ZWE  2020            10607897.0
31348     Zimbabwe  ZWE  2021            11296114.0

[31349 rows x 4 columns]

In [14]:
earning_df

,Unnamed: 0.1,Unnamed: 0,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,fiscalDateEnding,updatedFromDate
0,23219,377,1995-07-20,AAPL,0.00746,0.00787,amc,2.575000e+09,2.575000e+09,1995-06-29,2023-05-17
1,25633,292,1995-10-18,AAPL,0.00436,0.00473,amc,3.003000e+09,4.729725e+09,1995-09-28,2023-05-17
2,27731,139,1996-01-17,AAPL,-0.00501,-0.00316,amc,3.148000e+09,1.574000e+09,1995-12-28,2023-05-17
3,31057,267,1996-04-17,AAPL,-0.02000,-0.01422,amc,2.185000e+09,1.560714e+09,1996-03-28,2023-05-17
4,33864,213,1996-07-17,AAPL,-0.00231,-0.00152,amc,2.179000e+09,4.358000e+09,1996-06-27,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...
547,1650677,19128,2023-04-25,MSFT,2.45000,2.23000,amc,5.285700e+10,5.101760e+10,2023-03-30,2023-06-06
548,1650984,19435,2023-04-25,GOOG,1.17000,1.06000,amc,6.978700e+10,6.888320e+10,2023-03-30,2023-06-05
549,1651418,19869,2023-04-25,GOOGL,1.17000,1.07000,amc,6.978700e+10,6.890400e+10,2023-03-30,2023-06-06
550,1659363,27814,2023-05-04,AAPL,1.52000,1.43000,amc,9.483600e+10,9.296020e+10,2023-03-31,2023-06-05
551,1669959,38410,2023-05-24,NVDA,1.09000,0.92000,amc,7.192000e+09,6.516830e+09,2023-04-29,2023-06-06

In [19]:
## Calculate Correlation Coefficient Between Annual CO2 Emission worldwide and Top 6 Commpany Revenue ##

# Get the unique company symbols to iterate for. #
company_list = list(set(earning_df['symbol']));

# Create a dictionary object to store the data. #
company_earning_avg = {};

# Get the revenue average for each year per company earning. #
# - Start by filtering the dataframe for each company symbol. - #
for i in company_list:
    filtered_earning = earning_df.loc[earning_df['symbol'] == i];
    company_earning_avg[i] = {};
    for idx, col in filtered_earning.iterrows():
        date_year = col['date'][:4];
        if date_year not in company_earning_avg[i].keys():
            company_earning_avg[i][date_year] = [];
        
        company_earning_avg[i][date_year].append(col['revenue']);
        
print(company_earning_avg);

{'TSLA': {'2010': [31241000.0], '2011': [36286000.0, 49030000.0, 58171000.0, 57666000.0], '2012': [39375000.0, 30167000.0, 26653000.0, 50104000.0], '2013': [306332000.0, 561792000.0, 405139000.0, 431346000.0], '2014': [615219000.0, 620542000.0, 769349000.0, 851804000.0], '2015': [956661000.0, 939880000.0, 954976000.0, 936789000.0], '2016': [1214380000.0, 1147048000.0, 1270017000.0, 2298436000.0], '2017': [2284631000.0, 2696270000.0, 2789557000.0, 2984675000.0], '2018': [3288249000.0, 3408751000.0, 4002231000.0, 6824413000.0], '2019': [7225873000.0, 4541464000.0, 6349676000.0, 6303000000.0], '2020': [7384000000.0, 5985000000.0, 6036000000.0, 8771000000.0], '2021': [10744000000.0, 10389000000.0, 11958000000.0, 13757000000.0], '2022': [17719000000.0, 18756000000.0, 16934000000.0], '2023': [23329000000.0]}, 'GOOGL': {'2004': [805887000.0], '2005': [3189223000.0, 1256516000.0, 1384495000.0, 1578456000.0], '2006': [6138560000.0, 2253755000.0, 2455991000.0, 2689673000.0], '2007': [10604917000.0, 3663971000.0, 3871985000.0, 4231351000.0], '2008': [16593986000.0, 5186043000.0, 5367212000.0, 5541391000.0], '2009': [21795550000.0, 5508990000.0, 5522897000.0, 5944851000.0], '2010': [23650563000.0, 6775000000.0, 6820000000.0, 7286000000.0], '2011': [8440000000.0, 8575000000.0, 9026000000.0, 9720000000.0], '2012': [37905000000.0, 10645000000.0, 12214000000.0, 14101000000.0], '2013': [13215000000.0, 13969000000.0, 14105000000.0, 14893000000.0], '2014': [16858000000.0, 15420000000.0, 15955000000.0, 16523000000.0], '2015': [18103000000.0, 17258000000.0, 17727000000.0, 18675000000.0], '2016': [21329000000.0, 20257000000.0, 21500000000.0, 22451000000.0], '2017': [26064000000.0, 24750000000.0, 26010000000.0, 27772000000.0], '2018': [32323000000.0, 31146000000.0, 32657000000.0, 33740000000.0], '2019': [39276000000.0, 36339000000.0, 38944000000.0, 40499000000.0], '2020': [46075000000.0, 41159000000.0, 38297000000.0, 46173000000.0], '2021': [56898000000.0, 55314000000.0, 61880000000.0, 65118000000.0], '2022': [75325000000.0, 68011000000.0, 69685000000.0], '2023': [76048000000.0, 69787000000.0]}, 'ORCL': {'1996': [1311373000.0], '1997': [1372612000.0, 1948031000.0, 1368829000.0, 1613727000.0], '1998': [1748757000.0, 2412553000.0, 1749110000.0, 2055944000.0], '1999': [2078919000.0, 2943278000.0, 1984517000.0, 2321883000.0], '2000': [2449418000.0, 3374310000.0, 2261875000.0, 2659546000.0], '2001': [2674367000.0, 3263884000.0, 2242045000.0, 2357335000.0], '2002': [2229343000.0, 2844277000.0, 2028000000.0, 2309000000.0], '2003': [2307000000.0, 2832000000.0, 2072000000.0, 2498000000.0], '2004': [2509000000.0, 3076000000.0, 2215000000.0, 2756000000.0], '2005': [2950000000.0, 3878000000.0, 2768000000.0, 3292000000.0], '2006': [3470000000.0, 4851000000.0, 3591000000.0, 4163000000.0], '2007': [4414000000.0, 5829000000.0, 4529000000.0, 5313000000.0], '2008': [5349000000.0, 7239000000.0, 5331000000.0, 5607000000.0], '2009': [5453000000.0, 6861000000.0, 5054000000.0, 5858000000.0], '2010': [6404000000.0, 9505000000.0, 7502000000.0, 8582000000.0], '2011': [8764000000.0, 10775000000.0, 8374000000.0, 8792000000.0], '2012': [9039000000.0, 10916000000.0, 8181000000.0, 9094000000.0], '2013': [8958000000.0, 10947000000.0, 8372000000.0, 9275000000.0], '2014': [9307000000.0, 11320000000.0, 8596000000.0, 9598000000.0], '2015': [9327000000.0, 10706000000.0, 8448000000.0, 8993000000.0], '2016': [9012000000.0, 10594000000.0, 8595000000.0, 9035000000.0], '2017': [9205000000.0, 10893000000.0, 9187000000.0, 9621000000.0], '2018': [9771000000.0, 11252000000.0, 9193000000.0, 9562000000.0], '2019': [9614000000.0, 11137000000.0, 9218000000.0, 9614000000.0], '2020': [9796000000.0, 10439000000.0, 9367000000.0, 9800000000.0], '2021': [10085000000.0, 11227000000.0, 9728000000.0, 10360000000.0], '2022': [10513000000.0, 11840000000.0, 12275000000.0], '2023': [12398000000.0, 12398000000.0]}, 'AAPL': {'1995': [2575000000.0, 3003000000.0], '1996': [3148000000.0, 2185000000.0, 2179000000.0, 2321000000.0], '1997': [2129000000.0, 1601000000.0, 1737000000.0], '1998': [1578000000.0, 1405000000.0, 1402000000.0, 1556000000.0], '1999': [1710000000.0, 1530000000.0, 1558000000.0, 1336000000.0], '2000': [1945000000.0, 1825000000.0], '2002': [1375000000.0, 1429000000.0], '2004': [2006000000.0, 1909000000.0, 2014000000.0, 2350000000.0], '2005': [3490000000.0, 3243000000.0, 3520000000.0, 3678000000.0], '2006': [5749000000.0, 4359000000.0, 4837000000.0], '2007': [7115000000.0, 5264000000.0, 5410000000.0, 6217000000.0], '2008': [9608000000.0, 7512000000.0, 7464000000.0, 7895000000.0], '2009': [10167000000.0, 8163000000.0, 8337000000.0, 9870000000.0], '2010': [15683000000.0, 13499000000.0, 15700000000.0, 20343000000.0], '2011': [26741000000.0, 24667000000.0, 28571000000.0, 28270000000.0], '2012': [46333000000.0, 39186000000.0, 35023000000.0, 35966000000.0], '2013': [54512000000.0, 43603000000.0, 35323000000.0, 37472000000.0], '2014': [57594000000.0, 45646000000.0, 37432000000.0, 42123000000.0], '2015': [74599000000.0, 58010000000.0, 49605000000.0, 51501000000.0], '2016': [75872000000.0, 50557000000.0, 42358000000.0, 46852000000.0], '2017': [78351000000.0, 52896000000.0, 45408000000.0, 52579000000.0], '2018': [88293000000.0, 61137000000.0, 53265000000.0, 62900000000.0], '2019': [84310000000.0, 58015000000.0, 53809000000.0, 64040000000.0], '2020': [91819000000.0, 58313000000.0, 59685000000.0, 64698000000.0], '2021': [111439000000.0, 89584000000.0, 81434000000.0, 83360000000.0], '2022': [123945000000.0, 97278000000.0, 82959000000.0], '2023': [117154000000.0, 94836000000.0]}, 'GOOG': {'2015': [17727000000.0, 18675000000.0], '2016': [21329000000.0, 20257000000.0, 21500000000.0, 22451000000.0], '2017': [26064000000.0, 24750000000.0, 26010000000.0, 27772000000.0], '2018': [32323000000.0, 31146000000.0, 32657000000.0, 33740000000.0], '2019': [39276000000.0, 36339000000.0, 38944000000.0, 40499000000.0], '2020': [46075000000.0, 41159000000.0, 38297000000.0, 46173000000.0], '2021': [56898000000.0, 55314000000.0, 61880000000.0, 65118000000.0], '2022': [75325000000.0, 68011000000.0, 69685000000.0], '2023': [76048000000.0, 69787000000.0]}, 'NVDA': {'1999': [71000000.0, 78000000.0, 97000000.0], '2000': [128400000.0, 148483000.0, 170398000.0, 198165000.0], '2001': [218218000.0, 240932000.0, 260259000.0, 370241000.0], '2002': [582905000.0, 427285000.0, 430304000.0], '2003': [468953000.0, 404983000.0, 459774000.0, 486069000.0], '2004': [472119000.0, 471905000.0, 456061000.0, 515591000.0], '2005': [566476000.0, 583846000.0, 574812000.0, 583415000.0], '2006': [633614000.0, 681807000.0, 820572000.0], '2007': [878873000.0, 844280000.0, 935253000.0, 1115597000.0], '2008': [1202730000.0, 1153388000.0, 892676000.0, 897655000.0], '2009': [481140000.0, 664231000.0, 776520000.0, 903206000.0], '2010': [982488000.0, 1001813000.0, 811208000.0, 843912000.0], '2011': [886376000.0, 962039000.0, 1016517000.0, 1066180000.0], '2012': [953194000.0, 924877000.0, 1044270000.0, 1204110000.0], '2013': [1106902000.0, 954739000.0, 977238000.0, 1053967000.0], '2014': [1144218000.0, 1102787000.0, 1102824000.0, 1225382000.0], '2015': [1250514000.0, 1151000000.0, 1153000000.0, 1305000000.0], '2016': [1401000000.0, 1305000000.0, 1428000000.0, 2004000000.0], '2017': [2173000000.0, 1937000000.0, 2230000000.0, 2636000000.0], '2018': [2911000000.0, 3207000000.0, 3123000000.0, 3181000000.0], '2019': [2205000000.0, 2220000000.0, 2579000000.0, 3014000000.0], '2020': [3105000000.0, 3080000000.0, 3866000000.0, 4726000000.0], '2021': [5003000000.0, 5661000000.0, 6507000000.0, 7103000000.0], '2022': [7643000000.0], '2023': [7192000000.0]}, 'MSFT': {'1997': [2680000000.0, 3208000000.0, 3175000000.0, 3130000000.0], '1998': [3585000000.0, 3774000000.0, 3995000000.0, 3953000000.0], '1999': [4938000000.0, 4331000000.0, 6525000000.0, 5384000000.0], '2000': [6112000000.0, 5656000000.0, 5804000000.0, 5800000000.0], '2001': [6585000000.0, 6456000000.0, 6455000000.0, 6126000000.0], '2002': [7741000000.0, 7245000000.0, 7253000000.0, 7746000000.0], '2003': [8541000000.0, 7835000000.0, 8065000000.0, 8215000000.0], '2004': [10153000000.0, 9175000000.0, 9292000000.0, 9189000000.0], '2005': [10818000000.0, 9620000000.0, 10161000000.0, 9741000000.0], '2006': [11837000000.0, 10900000000.0, 11804000000.0, 10811000000.0], '2007': [12542000000.0, 14398000000.0, 13371000000.0, 13762000000.0], '2008': [16367000000.0, 14454000000.0, 15837000000.0, 15061000000.0], '2009': [16629000000.0, 13648000000.0, 13099000000.0, 12920000000.0], '2010': [19022000000.0, 14503000000.0, 16039000000.0, 16195000000.0], '2011': [19953000000.0, 16428000000.0, 17367000000.0, 17372000000.0], '2012': [20885000000.0, 17407000000.0, 18059000000.0, 16008000000.0], '2013': [21456000000.0, 20489000000.0, 19896000000.0, 18529000000.0], '2014': [24519000000.0, 20403000000.0, 23382000000.0, 23201000000.0], '2015': [26470000000.0, 21729000000.0, 22180000000.0, 20379000000.0], '2016': [23796000000.0, 20531000000.0, 20614000000.0, 20453000000.0], '2017': [24090000000.0, 22090000000.0, 23317000000.0, 24538000000.0], '2018': [28918000000.0, 26819000000.0, 30085000000.0, 29084000000.0], '2019': [32471000000.0, 30571000000.0, 33717000000.0, 33055000000.0], '2020': [36906000000.0, 35021000000.0, 38033000000.0, 37154000000.0], '2021': [43076000000.0, 41706000000.0, 46152000000.0, 45317000000.0], '2022': [51728000000.0, 49360000000.0, 51865000000.0], '2023': [52857000000.0]}}